<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
    <h1><%= title %></h1>
    <blockquote>
      <ul class="list-unstyled">
        <li>You can submit a FormData object that includes a file upload</li>
        <li>When you submit something, you will receive the file size in bytes as well as the original file name</li>
      </ul>
    </blockquote>
    <form action="/myaction" method="post" enctype="multipart/form-data">
      <input name="file" type="file">
      <input type="submit" value="Upload File">
    </form>
  </div>
  </body>
</html>
